<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCi9jR0necx5Kpw-4ol9L6LfIp5UUULWk</string>
	<key>GCM_SENDER_ID</key>
	<string>733128225084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase2141762068</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-777ad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-777ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733128225084:ios:3409f087cee81c74f2ee39</string>
</dict>
</plist>